    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="banner">
            <div class="bg-color">
                <div class="container">
                    <div class="row">
                        <div class="banner-text text-center">
                            <div class="text-border">
                                <h2 class="text-dec">Silicon Indy</h2>
                            </div>
                            <div class="intro-para text-center quote">
                                <p class="big-text">Bootcamp Prep</p>
                                <p class="small-text">“The only true wisdom is in knowing you know nothing.”<br>-Socrates</p>
                                <button class="btn btn-default">@Html.ActionLink("Log in", "Login", "Account")</button>
                            </div>
                            <a href="#feature" class="mouse-hover"><div class="mouse"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Admin"))
    {
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>150</h3>
                            <p>New Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>
                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>44</h3>
                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>65</h3>
                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    }

</div>



@*@{
    ViewBag.Title = "Home Page";
}


<!--Banner-->
@if (!User.Identity.IsAuthenticated)
{
    <div class="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="banner-text text-center">
                        <div class="text-border">
                            <h2 class="text-dec">Silicon Indy</h2>
                        </div>
                        <div class="intro-para text-center quote">
                            <p class="big-text">Bootcamp Prep</p>
                            <p class="small-text">“The only true wisdom is in knowing you know nothing.”<br>-Socrates</p>
                            <button class="btn btn-default">@Html.ActionLink("Log in", "Login", "Account")</button>
                        </div>
                        <a href="#feature" class="mouse-hover"><div class="mouse"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!--Banner-->
@if (User.IsInRole("Admin"))
{
    <div>
        <div class="bg-color">
            <div class="container">
                <h2 class="text-dec">Welcome @User.Identity.Name</h2>

                <div class="row">
                    <button class="btn btn-default">@Html.ActionLink("Lesson", "Index", "Lesson")</button>
                </div>
                <div class="row">
                    <button class="btn btn-default">@Html.ActionLink("Create a Lesson", "Create", "Lesson")</button>
                </div>
                <div class="row">
                    <button class="btn btn-default">@Html.ActionLink("Create a Playlist", "Create", "Slide")</button>
                </div>
                <div class="row">
                    <button class="btn btn-default">@Html.ActionLink("Create a Slide", "Create", "Slide")</button>
                </div>
                <div class="row">
                    <button class="btn btn-default">@Html.ActionLink("See List of Playlists", "Playlists", "Slide")</button>
                </div>

            </div>
        </div>
    </div>
}


@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
{
    <div>
        <div class="bg-color">
            <div class="container">
                <h2 class="text-dec">Welcome @User.Identity.Name</h2>

                <div class="row">
                    <button class="btn btn-default">@Html.ActionLink("Lesson", "Index", "Lesson")</button>
                </div>
            </div>
        </div>
    </div>
}*@


