@model IEnumerable<SiliconIndy.Models.SlideModels.SlideQueueItem>

@{
    ViewBag.Title = "AllPlayLists";
}

<h2>All Play Lists</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeckName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeckName)
        </td>
        <td>
            @Html.ActionLink("See Playlist", "Playlist", new { deckName = item.DeckName })
            @Html.ActionLink("Details", "Details", new { id = item.DeckName }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
