@using Microsoft.AspNet.Identity
@model SiliconIndy.Models.LessonModels.LessonDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="container">
        <div class="row display-section">
            <div class="col-md-12">
                <h1>@Html.DisplayFor(model => model.Title)</h1>

                <br />

                <p>
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Write a comment", "Create", "Comment", new { id = Model.LessonId }, null)
                </p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="container">
        @foreach (var item in Model.Comments)
        {
            <div class ="row">
                <div class="col-md-12">
                    <h2>
                        @Html.DisplayFor(modelItem => item.UserName) |
                        @Html.DisplayFor(modelItem => item.CommentText)
                    </h2>

                    @if (User.Identity.GetUserId() == item.UserId.ToString())
                    {
                        @Html.ActionLink("Edit", "Edit", "Comment", new { id = item.CommentId }, null)
                        @Html.ActionLink("Delete", "Delete", "Comment", new { id = item.CommentId }, null)
                    }
                </div>
            </div>
        }
    </div>
 </div>
