@using Microsoft.AspNet.Identity
@model SiliconIndy.Models.LessonModels.LessonDetail

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="container">
        <div class="row display-section">
            <div class="col-md-12">
                <h1>Fix the Code for @Html.DisplayFor(model => model.Title)</h1>
                <p style="max-width:1000">
                    <table class="run">
                        <tbody>
                            <tr>
                                <td valign="top" width="550">
                                    <!-- CODE -->
                                    <textarea id="code1-ex2" rows="4" cols="70" class="tacode" spellcheck="false" onkeypress="return handleCR(this ,event)">@Html.DisplayFor(model => model.Content)</textarea>
                                    <br><input type="button" style="width:220;height:40;background-color:lightgray" value="Run" onclick="evaluateClear(&quot;code1-ex2&quot;)">
                                </td>
                                <td valign="top">
                                    <!-- OUTPUT -->
                                    <div id="code1-ex2-output" style="font-family:courier;font-size:14;"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p><p>

                    <br />

                <p>
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Write a comment", "Create", "Comment", new { id = Model.LessonId }, null)
                </p>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>@Html.DisplayFor(modelItem => item.UserName)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> @Html.DisplayFor(modelItem => item.Title)</strong> <span class="text-muted">commented @Html.DisplayFor(modelItem => item.CreatedDate)</span>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(modelItem => item.CommentText)
                    </div>
                    <div>
                        @if (User.Identity.GetUserId() == item.UserId.ToString())
                        {
                            @Html.ActionLink("Edit", "Edit", "Comment", new { id = item.CommentId }, null)
                            @Html.ActionLink("Delete", "Delete", "Comment", new { id = item.CommentId }, null)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code1-ex2"), {
            lineNumbers: true,
            mode: "text/x-csharp",
            matchBrackets: true
        });
    </script>
}
