@model IEnumerable<SiliconIndy.Models.LessonModels.LessonListItem>

@{
    ViewBag.Title = "All Lessons";
}


@{
    ViewBag.Title = "Lessons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Data Tables
            <small>advanced tables</small>
        </h1>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Add Lesson", "Create", "Lesson")
        }

        <ol class="breadcrumb">
            <li class="active">Lesson Choices</li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Business Challenges</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Full Stack Work</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i>Book List</a></li>
        </ol>

    </section>
    <section class="content">
            <div id="lessons" class="row list-group">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">All Lessons</h3>
                        </div>

                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Lesson Title</th>
                                        <th>Lesson Content</th>
                                        <th>Number of Comments</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td class="group inner list-group-item-heading">
                                            @item.Title
                                        </td>

                                        <td class="group inner list-group-item-text">
                                            @item.Content
                                        </td>

                                        <td>
                                            @if (item.CommentCount == 1)
                                            {
                                                <p>
                                                    @Html.DisplayFor(modelItem => item.CommentCount) Comment
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    @Html.DisplayFor(modelItem => item.CommentCount) Comments
                                                </p>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-success" onclick="location.href='@Url.Action("Details", "Lesson", new { id = item.LessonId })'">See Details</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Title</th>
                                        <th>Content</th>
                                        <th>Number of Comments</th>
                                        <th>Details</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })

    </script>

}



